* {
	font-family: "Trebuchet MS";
}

.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 0px 20px;
    color: #8888ff;
}

.sidebar a {
	font-size: 12pt;
	color: #bbbbff;
	display: block;
	text-decoration: none;
}

.sidebar a:hover {
	color: #ffffff;
}

.sidebar a:active {
	color: #ffffff;
	text-decoration: underline;
}

.content {
	margin-left: 190px;
	padding: 20px 20px;
}